<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="EcologyTheme">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backer - Sustainable Support Network</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Goole Font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/assets/bootstrap.min.css">
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="css/assets/flaticon.css">
    <link rel="stylesheet" href="css/assets/magnific-popup.css">    
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/assets/owl.carousel.css">
    <link rel="stylesheet" href="css/assets/owl.theme.css">     
    <link rel="stylesheet" href="css/assets/animate.css"> 
    <link rel="stylesheet" href="css/assets/preloader.css">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="css/assets/slick.css">  
    <!-- Mean Menu-->
    <link rel="stylesheet" href="css/assets/meanmenu.css">

    <!-- main style-->
    <link rel="stylesheet" href="css/style.css">    
    <link rel="stylesheet" href="css/responsive.css">
                     
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color: rgba(245, 245, 255, 1);">
<header class="header_inner_pages" style="max-height: 350px; background: linear-gradient(to right, rgba(0,0,0, 0.1) , rgba(0,0,0, 0.7)), url(https://images.unsplash.com/photo-1514320291840-2e0a9bf2a9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80) no-repeat">
     <div class="header-top">
        <div class="sassnex_nav" style="padding-top: 0px; background-color: black;">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="index.html"><img src="images/backer-logo-whiteish.png" alt="logo"></a>
                    <div class="collapse navbar-collapse mean_menu" id="navbarSupportedContent">
                        <ul class="navbar-nav nav ml-auto">

                           <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                           <li class="nav-item"><a href="contact.html" class="nav-link">Explore</a></li>
                           <li class="nav-item"><a href="contact.html" class="nav-link">Backer</a></li>                                                 
                            <li class="nav-item"><a href="#" class="nav-link">Informasi</a>
                                 <ul class="dropdown_menu">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="about.html">Explore</a></li> 
                                    <li><a href="about.html">Backer</a></li>
                                    <li><a href="about.html">Cara Kerja</a></li>                                                                                                             
                                    <li class="nav-item"><a href="#" class="nav-link">Informasi</a>
                                        <ul class="dropdown_menu">
                                            <li><a href="shop-page.html">Shop Page</a></li>
                                            <li><a href="shop-details.html">Shop Details</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="mr-auto others_option">
                        <ul class="navbar-nav mx-auto d-flex">
                            <li class="header-search-box btn-color-dark">
                                <a href="#header-search" title="Search">
                                    <i class="flaticon-search search_btn"></i>
                                </a>
                            </li>
                            <li>
                                <a href="sign-in.html" class="btn btn-default">Login</a>
                                <a href="sign-up.html" class="btn btn-default">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav><!-- END NAVBAR -->
            </div> 
        </div>
    </div>

    <div class="intro_wrapper">
        <div class="container">  
            <div class="row">        
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="intro_text">
                        <h1 class="wow fadeInUp" data-wow-duration="2s" data-wow-delay=".2s">Avenged Sevenfold</h1>
                        <div class="select_pages">
                            <span>Musisi</span> 
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>  
</header> <!-- End Header -->
<div class="hidden-sm hidden-xs">
        <div class="profile-info">
          <img src="https://randomuser.me/api/portraits/men/65.jpg" class="profile-photo">
        </div>                
</div>

<section style="background-color: white;min-height: 90px; padding: 20px 20px 20px 350px; z-index: 9999;">
    <div class="row">
    <ul class="menu-cover">
        <li><a href="/pledger/overview" class="link-active">Overview</a></li>
        <li><a href="/pledger/post">Post</a></li>
        <li><a href="/pledger/backer" >Backer</a></li>
        <li><a href="/pledger/forum" class="active">Forum</a></li>        
    </ul>

    <span style="float: right; position: absolute; right: 35px;"> <span style="margin-right: 30px; font-size: 17px; font-weight: 700;">100 BACKERS</span> <a href="#"><button class="btn_backme">Backing</button></a></span>
</div>
</section>


<!-- Search Box Start Here -->
<div id="header-search" class="header-search">
    <button type="button" class="close">×</button>
    <form class="header-search-form">
        <input type="search" value="" placeholder="Type here........" />
        <button type="submit" class="search-btn">Search</button>
    </form>
</div>



<!-- Sign In Form -->  
<section>
    <div class="container" style="max-width: 1242px;">
<div class="row" style="margin-top: 30px;">
            <div class="col-md-2">


              <div class="title-separator" style="margin-top: 0px;"> Top backer </div> 


                <div class="card card-padding">
                  <ul class="online-users list-inline">
                    <li><a href="/bintangku" title="Bintang Dilangit"><img src="/img/avatar2.jpg" alt="user" class="img-responsive profile-photo"></a></li>
                    <li><a href="/samara" title="Samara"><img src="/img/avatar3.jpg" alt="user" class="img-responsive profile-photo"></a></li>
                  </ul>
                </div>

       

            </div>


            <div class="col-md-7">

              <!-- About
              ================================================= -->
              <div class="card card-padding">
                <div class="about-content-block">
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                  <div class="pd-lr-25 pd-tb-15 double-space"><p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </p></div>
                </div>               
              </div>

              <div class="title-separator"> Backing </div>

  
              <div class="card card-padding">
                <p class="text-center card-v-center">VirKill Almasy is not supporting anyone yet</p>
              </div>


              <div class="title-separator"> Recent post </div>              


              <div class="card card-padding">
                <p class="text-center card-v-center">VirKill Almasy dont have any post yet</p>
              </div>

              <div style="min-height: 40px"></div>
                <div class="text-center">
                    <a href="/pledger/virkill/tier/2"><button class="btn_load_more">Load More</button></a>
                </div>
            </div>

            <div class="col-md-3 static">

         
            <div class="card card-padding text-center">
                         <ul class="social_iocns d-flex">
                            <li><a href="#"><i class="flaticon-facebook-logo icon_tw"></i></a></li>
                            <li><a href="#"><i class="flaticon-twitter icon_fb"></i></a></li>
                            <li><a href="#"><i class="flaticon-instagram-logo icon_pin"></i></a></li>
                        </ul>
            </div>
   

            <div class="title-separator"> Backer Tiers </div> 

       
              <div class="card card-padding">
                <h5 class="text-dark">Standard Backer</h5>
                <p class="tier-text-price">10K per bulan</p>
                <p class="text-dark">This is the most standard monthly backing cost. Consider it the same as treating us coffee once a month</p>
                <a href="/pledger/virkill/tier/2"><button class="btn-primary btn__tier">Back me up!</button></a>
              </div> 
       

        
              <div class="card-padding card">
                <h5 class="text-dark">Bro Backer</h5>
                <p class="tier-text-price">50K per bulan</p>
                <p class="text-dark">Treat us beer once a month?</p>
                <a href="/pledger/virkill/tier/2"><button class="btn-primary btn__tier">Back me up!</button></a>
              </div> 
     

                           

           
          </div>
        </div>
    </div>
</section><!-- End Sing In  -->  

                <div style="min-height: 40px"></div>

<!-- Footer -->  
<footer id="footer_app_x" style="padding-top: 0px; background-color: white;">
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright  &copy; Backer 2019. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="copy_right_items d-flex justify-content-end">
                        <li><a href="#">Terms & Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End Footer -->

<section id="scroll-top" class="scroll-top">
    <h2 class="disabled">Scroll to top</h2>
    <div class="to-top pos-rtive">
        <a href="#"><i class = "flaticon-right-arrow"></i></a>
    </div>
</section>

    <!-- JavaScript -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>     
    <script src="js/owl.carousel.min.js"></script>  
    <script src="js/slick.min.js"></script>  
    <!-- Main Menu -->
    <script src="js/jquery.meanmenu.min.js"></script>   
    <script src="js/custom.js"></script>     
</body>
</html>
