            <%= for {tier, i} <- @tiers |> Enum.sort_by(fn(p) -> p.amount end) |> Enum.with_index() do %>

              <div class="card card-padding">
                <h5 class="text-dark"><%= tier.title %></h5>
                <p class="tier-text-price"><%= Kernel.trunc(tier.amount/1000) %>K per bulan</p>
                <p class="text-dark"><%= tier.description %></p>
                <a href="/pledger/virkill/tier/<%= i + 1 %>"><button class="btn-primary btn__tier">Back me up!</button></a>
              </div> 
       
            <% end %>