<div class="row">
<div class="col-12">
<div class="container text-center" style="min-height: 500px;margin-top: 100px;">
<img class="img-fluid" alt="Responsive image" src="/images/404.png" alt="404">
<h3>The page you are looking for cannot be founded</h3>
</div>
</div
</div>