<%= for post <- @posts do %>

<div class="post-content card">
                

                <div class="post-header">
                  <img src="<%= post.donee.backer.avatar %>" alt="user" class="avatar-small float-left" style="margin-right: 8px;">
                  <div class="post-detail">
                    <div class="user-info">
                      <h5><a href="/<%= post.donee.backer.username %>" class="profile-link"><%= post.donee.backer.display_name %></a></h5>
                      <p class="text-muted" style="font-size: 0.8em;">Post about <%= ago(post.inserted_at) %></p>
                    </div>

                    </div>
                  </div> 
              
                  <div style="background-color: #f5f5f5; padding: 20px 0px 10px 0px;">
                   <h4 class="text-center" style="padding: 5px 15px 5px 20px; color: #2e2e2e ;font-size: 1.3em; font-weight: bold;"><%= post.title %> 
                   </h4>  


                

                <%= case post.type do %>

                <% "image" -> %>

                <img src="<%= post.featured_image %>" alt="post-image" class="img-responsive post-image" style="padding:10px 0px;">

                <% "video" -> %>


                <iframe width="100%" height="315" src="https://www.youtube.com/embed/<%= post.featured_video %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>


                <% _other -> %>


                  <% end %>


                    <div class="post-text" style="padding: 10px 25px;">
                      <%=   post.content %>
                    </div>

                </div>


                    <div style="padding: 20px 20px 0px 20px;">
                  <div class="pull-left"> <%= post.like_count %> likes</div>
                  <div class="pull-right"> <%= post.comment_count %> comments</div>
                    </div>

                <div class="post-container">

                     <div class="line-divider"></div>  

                      <table style="width:100%; table-layout:fixed;">
                        <tr class="text-center">
                          <td> <button class="btn" style="margin: 5px; width:100%;"><i class="la la-thumbs-up"></i> Like</button></td>
                          <td><a class="btn" href="home/timeline/<%= post.id %>" style="margin: 5px; width:100%;"><i class="la la-comments-o"></i> Comment</a></td>              
                        </tr>
                      </table>

                      <div class="line-divider"></div>                                            

                    <%= if post.comment_count == 1 do %>
                    <div style="color:darkblue; font-size: 13px; padding: 10px 0px;"><a href="home/timeline/<%= post.id %>">Show <%= post.comment_count %> comment</a></div>
                    <% end %> 

                    <%= if post.comment_count > 1 do %>
                    <div style="color:darkblue; font-size: 13px; padding: 10px 0px;"><a href="home/timeline/<%= post.id %>">Show <%= post.comment_count %> comments</a></div>
                    <% end %> 


                    <div class="post-detail">

                    <%= for comment <- post.pcomment do %>

                      <div class="post-comment">
                        <img src="<%= comment.avatar %>" alt="" class="profile-photo-sm">
                        <p class="commentbox" style="width:100%;"><a href="/<%= comment.username %>" class="profile-link"><%= comment.display_name %> </a> <%= comment.content %> </p>
                      </div>

                      <span class="comment-like" style="padding-left: 50px; padding-top: 0px"><a><i class="la la-thumbs-up"></i> 13</a> ∙ <%= Stringhelper.ago(comment.inserted_at) %> </span>                    

                    <% end %> 

                    </div>                                        

                    <form>

                    <div class="post-comment">

                      <table style="width:100%; table-layout:fixed;">
                        <tr><td><img src="<%= post.current_avatar %>" alt="" class="profile-photo-sm"></td><td style="width:80%;"> <input type="text" name="comment" class="input-comment" placeholder="Post a comment" style="width:100%; height: 35px;"></td><td><button class="btn float-right" > Send </button></td></tr>
                      </table>



                    </div>
                  </form>


                  </div>
</div>

<% end %>


          <div class="text-center" style="margin-bottom: 50px;">

                    <button class="btn btn-primary" >Load more</button>
          </div>     



