<%= if @conn.assigns.backer_signed_in? do %>
        <% count_notif = Cachex.get!(:notification, "backer:#{@conn.assigns.current_backer.id}")  %>
            <div id="backerzone" data-avatar="<%= @conn.assigns.current_backer.avatar %>" data-is-donee="<%= @conn.assigns.current_backer.is_donee %>"
        data-notif-count="<%= if is_nil(count_notif), do: 0, else: count_notif  %>"></div>
<% end %>