<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Backer allow people to support good cause to be sustainable" />
		<meta name="keywords" content="backer, donation" />
		<meta name="robots" content="index, follow" />
		<title>Backer | A Circle Support Networking Platform</title>

    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700,700i" rel="stylesheet">

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
        <link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">        
        <link rel="stylesheet" href="https://unpkg.com/unpoly@0.60.0/dist/unpoly.min.css" integrity="sha384-Au6LjS9fxDpwn3+26YmukmOumZUmryd8ONenkVIoH4eEPH1tACqLsVfqz9tBrvQy" crossorigin="anonymous">       
    

    

	</head>
	<body>
  
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Header
    ================================================= -->
<header id="header">

    <%= render(BackerWeb.LayoutView, "dark_nav.html", conn: @conn) %>

</header>
    <!--Header End-->

<div>


<div id="mySidenav" class="sidenav">
    <div style="height:85px; padding: 12px 12px 12px 32px;">
<img src="<%= @conn.assigns.current_backer.avatar %>" alt="avatar" class="avatar profile-photo"> <span class="text-white" style="margin-left: 10px; font-size: 20px;"><%= @conn.assigns.current_backer.display_name %></span></div>
  <a up-nav href="/dashboard" up-target="content" >Dashboard</a>
  <a up-nav href="/dashboard/post" up-target="content" >Post</a>
  <a up-nav href="/dashboard/backers" up-target="content" >Bakers</a>
  <a up-nav href="/dashboard/donation" up-target="content" >Donation Repost</a>
  <a up-nav href="/dashboard/edit-profile" up-target="content" >Edit Profile</a>
  <a up-nav href="/dashboard/page-setting" up-target="content" >Page setting</a>    
</div>

<content>
<%= render @view_module, @view_template, assigns %>
</content>

</div>    




    <!-- Scripts
    ================================================= -->
    <script src="https://unpkg.com/unpoly@0.60.0/dist/unpoly.min.js" integrity="sha384-VRoChIi4ekLVzxj/iwn4zz6hNl3rBKdmMCUkdhHdrbzwphJeAGs4i8rwDDXNpXX8" crossorigin="anonymous"></script>      
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.appear.min.js"></script>
    <script src="/js/jquery.sticky-kit.min.js"></script>    
    <script src="/js/jquery.incremental-counter.js"></script>
    <script src="/js/script.js"></script> 
    <script src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" data-auto-replace-svg="nest"></script> 
	</body>
</html>
