<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Backer :: <%= @conn.assigns[:meta][:title] %></title>
    <%= if not (is_nil @conn.assigns[:meta_attrs]), do: meta_tags(@conn.assigns[:meta_attrs]) %>

    <!--Replace with your tailwind.css once created-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/assets/css/progressive-image.css">


    <%= if not is_nil @conn.assigns[:style][:wysiwyg] && @conn.assigns[:style][:wysiwyg] do %>
        <%= BackerWeb.LayoutView.render "style-wysiwyg.html" %>
    <% end %>

</head>

<body class="text-gray-700 bg-gray-200">


<%= BackerWeb.PublicComponentView.render "header_public.html", conn: @conn %>

		
		<div class="bg-gray-200 lg:mt-16">
	    <div class="pt-10 container mx-auto lg:flex">
	
	        <div class="lg:w-1/4 px-4 lg:pb-10">
	            <div class="transition-all" style="top: 96px; position: sticky;">

                    <%= BackerWeb.DoneeView.render "component_doneezone_side_menu.html", conn: @conn, donee_info: @donee_info %>

	            </div>
	        </div>
	
	        <div class="lg:w-2/4 px-4 pb-20">

                <%= render @view_module, @view_template, assigns %>
	

	
	<!--

	            <div class=" bg-white shadow p-4 mb-4">
	
	                <div class="flex items-center">
	                    <img src="<%= @donee_info.backer.avatar %>" class="w-12 h-12 object-center object-cover rounded-lg border-4 border-white mr-2">
	                    <div class="">
	                        <div class="text-gray-600 font-semibold">Mr.Pokemon</div>
	                        <div class="text-gray-500 text-xs">
	                            21
	                            m</div>
	                    </div>
	                </div>
	                <div class="border-b my-2 mb-4x"></div>
	                <div class="text-gray-600 my-2 font-semibold  text-center text-xl px-2"> Ini judul yang bisa
	                    dibuat sangat
	                    menarik </div>
	                <div class="p-2 text-gray-600 text-justify leading-relaxed">
	                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
	                    et
	                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
	                    aliquip
	                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	                    dolore eu
	                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
	                    deserunt mollit anim id est laborum.
	                </div>
	
	                <div class="text-xs text-right mt-4 text-gray-600">1 like • 32 comments</div>
	                <div class="border-b mt-2"></div>
	                <div class="flex text-gray-600">
	                    <div class="text-center w-1/2 py-2 cursor-pointer hover:bg-gray-100"><i
	                            class="la la-thumbs-up mr-2"></i>
	                        Like</div>
	                    <div class="text-center w-1/2 py-2 cursor-pointer hover:bg-gray-100"><i
	                            class="la la-comment mr-2"></i>
	                        Comment</div>
	                </div>
	                <div class="border-b mb-2"></div>
	                <div class="flex">
	
	                    <img src="<%= @donee_info.backer.avatar %>" class="w-12 h-12 rounded-lg object-center object-cover border-4 border-white mr-2">
	                    <input placeholder="Ketik komentar kamu..."
	                        class="flex-grow border px-4 focus:outline-none bg-gray-100 rounded-lg">
	                    <button
	                        class="px-6 transition-all ml-2 rounded-lg text-sm text-orange-500 hover:text-orange-600 tracking-wide">Kirim</button>
	                </div>
	            </div>
	
	
	            <div class=" bg-white shadow p-4">
	                <div class="flex items-center">
	                    <img src="<%= @donee_info.backer.avatar %>" class="w-12 h-12 rounded-lg border-4 object-center object-cover border-white mr-2">
	                    <div class="">
	                        <div class="text-gray-600 font-semibold">Mr.Pokemon</div>
	                        <div class="text-gray-500 text-xs">
	                            21
	                            m</div>
	                    </div>
	                </div>
	                <div class="border-b my-2 mb-4x"></div>
	                <div class="text-gray-600 my-2 font-semibold  text-center text-xl px-2"> Ini judul yang bisa
	                    dibuat sangat
	                    menarik </div>
	                <div class="p-2 text-gray-600 text-justify leading-relaxed">
	                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
	                    et
	                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
	                    aliquip
	                    ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
	                    dolore eu
	                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
	                    deserunt mollit anim id est laborum.
	                </div>
	
	                <div class="text-xs text-right mt-4 text-gray-600">1 like • <a href="#" class="hover:underline">32
	                        comments</a></div>
	                <div class="border-b mt-2"></div>
	                <div class="flex text-gray-600">
	                    <div class="text-center w-1/2 py-2 cursor-pointer hover:bg-gray-100"><i
	                            class="la la-thumbs-up mr-2"></i>
	                        Like</div>
	                    <div class="text-center w-1/2 py-2 cursor-pointer hover:bg-gray-100"><i
	                            class="la la-comment mr-2"></i>
	                        Comment</div>
	                </div>
	                <div class="border-b mb-2"></div>
	
	
	                <div class="my-4">
	                    <div class="flex items-center">
	                        <img src="<%= @donee_info.backer.avatar %>"
	                            class="w-10 h-10  rounded-lg object-center object-cover border-4 border-white mr-2">
	                        <div
	                            class="px-4 text-gray-600 py-1 text-sm align-middle focus:outline-none bg-gray-200 rounded-lg">
	                            <span class="font-bold mr-2 text-sm">Subhan</span>Nggak
	                            kok
	                        </div>
	                    </div>
	                    <div class="ml-12 text-xs text-gray-600"><a href="#">Like</a> • 6 jam lalu</div>
	                </div>
	
	
	                <div class="flex mt-4">
	
	                    <img src="<%= @donee_info.backer.avatar %>" class="w-10 h-10 object-center object-cover rounded-lg border-4 border-white mr-2">
	                    <input placeholder="Ketik komentar kamu..."
	                        class="flex-grow border text-sm px-4 focus:outline-none bg-gray-200 rounded-lg">
	                    <button
	                        class="px-6 transition-all ml-2 rounded-lg text-sm text-orange-500 hover:text-orange-600 tracking-wide">Kirim</button>
	                </div>

	            </div>
	

	            <div class="py-8 text-center">
	                <button
	                    class="focus:outline-none tracking-wide px-8 py-2 outline-none text-orange-500 transition-all transition-ease hover:bg-orange-600 hover:text-white rounded-lg border-orange-500 border-2">Load
	                    More</button>
	            </div>

				-->
	        </div>
	        <div class="lg:w-1/4 px-4">
	
	            <div class="pb-20 hidden lg:block">

					<%= BackerWeb.DoneeView.render "component_recomended_donee.html", donees: @recommended_donees %>
	            
	            
	            </div>
	        </div>
	    </div>
	
	</div>

        <%= BackerWeb.PublicComponentView.render "footer_public.html", conn: @conn %>




    <script>


        /*Toggle dropdown list*/
        /*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/


        document.onclick = check;
        function check(e) {
            var target = (e && e.target) || (event && event.srcElement);


        }
        function checkParent(t, elm) {
            while (t.parentNode) {
                if (t == elm) { return true; }
                t = t.parentNode;
            }
            return false;
        }
    </script>

    <script>
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
            var output = document.getElementById('output');
            output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>

    <script>
    function init() {
        var vidDefer = document.getElementsByTagName('iframe');
        for (var i=0; i<vidDefer.length; i++) {
        if(vidDefer[i].getAttribute('data-src')) {
        vidDefer[i].setAttribute('src',vidDefer[i].getAttribute('data-src'));
        } } }
        window.onload = init;
    </script>

    <script src="/js/wow.min.js"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    <script>
    new WOW().init();

    tippy('.tippy', {placement: 'bottom'});
    </script>

    <%= if not is_nil @conn.assigns[:script][:wysiwyg] && @conn.assigns[:script][:wysiwyg] do %>
        <%= BackerWeb.LayoutView.render "script-wysiwyg.html" %>
    <% end %>

    <script src="/assets/js/progressive-image.min.js"></script>
    <script src="/assets/js/navbar.min.js"></script>
    <script src="/js/app.js"></script>
    <script>
        const node = document.getElementById('navbar-elm');

        if (node) {
            const avatar = node.getAttribute('data-avatar');
            const notifCount = node.getAttribute('data-notif-count');
            const domain = node.getAttribute('data-domain');
            const isDonee = (node.getAttribute('data-is-donee') == "true");

            const flags = { avatar: avatar, domain: domain, notifCount: notifCount, isDonee: isDonee }
            console.log(flags);
            
            Elm.Main.init({
            node: node,
            flags: flags
            });

        };
    </script>

        <script>

        var scrollpos = window.scrollY;
        var header = document.getElementById("header");
        
        document.addEventListener('scroll', function () {

            /*Apply classes for slide in bar*/
            scrollpos = window.scrollY;

            if (scrollpos > 10) {
                header.classList.add("shadow");
            }
            else {
                header.classList.remove("shadow");
            }

        });


    </script>


</body>

</html>