<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Backer allow people to support good cause to be sustainable" />
		<meta name="keywords" content="backer, donation" />
		<meta name="robots" content="index, follow" />
		<title>Backer | A Circle Support Networking Platform</title>

    <!-- Stylesheets
    ================================================= -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/ionicons.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    
    <!--Favicon-->
    <link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
	</head>
	<body>
  
    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>

    <!-- Header
    ================================================= -->
		<header id="header">
      <nav class="navbar navbar-default navbar-fixed-top menu">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img src="images/logo.png" alt="logo" /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right main-menu">
              <li class="dropdown"><a href="/explore">Pledger</a></li>
              <li class="dropdown"><a href="/backer">Backer</a></li>
              <li class="dropdown"><a href="/page/how-it-works">How it works?</a></li> 

                                <%= if @conn.assigns.backer_signed_in? do %>
                                <li style="margin-left: 100px;" class="dropdown"> 
                                    <span data-toggle="dropdown" class="dropdown-toggle">
                                      <span class="text-white"> Welcome </span><img src="<%= @conn.assigns.current_backer.avatar %>" class="avatar" />
                                    </span>
                                            <div class="dropdown-menu">
                                               
                                                    <div class="row">
                                                        <div class="sub-menux col-lg-12">
                                                            <ul class="menu-vertical">
                                                              <li> <a href="/backer/<%= @conn.assigns.current_backer.username %>">My Profile</a> </li>
                                                                <li> <a href="/signout">Logout</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                              
                                            </div>
                                        </li> 
                                <% else %>
              <li> <a href="/login"><button class="btn-primary">Register / Login</button></a></li>

                                <% end %>
                                           
            </ul>
            <form class="navbar-form navbar-right hidden-sm">
              <div class="form-group">
                <i class="icon ion-android-search"></i>
                <input type="text" class="form-control" placeholder="Search pledger, backer, content..">
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
      </nav>
    </header>
    <!--Header End-->

<%= render @view_module, @view_template, assigns %>


    <!-- Top Banner
    ================================================= -->
		<section id="banner">
			<div class="container">

        <!-- Sign Up Form
        ================================================= -->
        <div class="sign-up-form hidden-xs">
					<h3 class="text-white mt40 mb60">Let's start backing!</h3>
					<div class="line-divider"></div>
					<div class="form-wrapper">
						<p class="signup-text">Signup now and start support good things</p>
                        <%= form_for @changeset, "/register", fn f -> %>  
                        <fieldset class="form-group">
                        <%= text_input f, :display_name, [class: "form-control input-group-lg", placeholder: "Display Name"] %>
                        <%= error_tag f, :display_name %>
                        </fieldset>
							<fieldset class="form-group">
                            <%= email_input f, :email, [class: "form-control", placeholder: "Email Address"] %>      
                            <%= error_tag f, :email %>                                
							</fieldset>
							<fieldset class="form-group">
                            <%= password_input f, :password, [class: "form-control input-group-lg", placeholder: "Password"] %>
                                        <%= error_tag f, :password %>
							</fieldset>

						<p>By signning up you agree to the terms</p>
						<button class="btn-primary">Signup</button>
                        <% end %>
					</div>
						<a href="#"><button style="border-radius:17px;" class="btn-primary btn-login">Sign up using Facebook</button>
					</a>
					<img class="form-shadow" src="images/bottom-shadow.png" alt="" />
				</div><!-- Sign Up Form End -->
<div class="col-sm-6 pull-right">
<h1 class="text-white text-right mt80">We believe good things should be sustainable</h1>
<p class="text-white text-right mt40">Backer is about sustainability. We make it easier for anyone to back what they support, whether it is community, artist, or activity. Learn more about our platform or create your own campaign page right now.</p>
<div class="pull-right">
<a href="#"><button style="border-radius:17px;" class="btn-secondary btn-login">Learn More</button></a>
	<a href="#"><button style="border-radius:17px;" class="btn-primary btn-login">Create Campaign Page</button></a>
</div>
</div>
			</div>
		</section>

<div class="mh100 bg--secondary"></div>

            <section class="bg--secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
						<iframe width="500" height="315" src="https://www.youtube.com/embed/LzN3WPeIhtY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div class="col-lg-6 col-md-6">
                        	<h1 class="text-right">What this is all about?</h1>
                        	<p class="text-right">another lorem ippsum</p>
                        </div>
                    </div>
                </div>
            </section>	

<div class="mh100 bg--secondary"></div>
            <section class="text-center imagebg" data-overlay="4">
                <%# <div class="background-image-holder"> <img alt="background" src="img/hero-1.jpg"> </div> %>
                <div class="container">
                	<div class="row"><h1>Backer is perfect for</h1></div>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block"> <i class="icon icon--lg icon-Mail-3 color--dark"></i>
                                <h2>Community</h2>
                                <p> Backer can be used by community admin to collect and track monthly membership fee paid its member. In return, the community admin can provide expense report and activity report which can only be accessed by its member.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block"> <i class="icon icon--lg icon-Air-Balloon color--dark"></i>
                                <h2>Content Creator</h2>
                                <p> Creator can use Backer to get direct support from their follower. Release public post, and backer's only post, and it will show as familiar social media timeline.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block"> <i class="icon icon--lg icon-Bacteria color--dark"></i>
                                <h2>Non Profit Organization</h2>
                                <p> Get support in ustainable way by maintaining a Pledger page as Non profit Organization. Backer can give monthly donation based on tier set by Organization.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="text-block"> <i class="icon icon--lg icon-Fingerprint-2 color--dark"></i>
                                <h2>Charity Organization</h2>
                                <p> Charitable activity can be sustainable and transparent using Backer. Get monthly donation, publish the monthly collected donation publicly/or backer only, and publish your charitable activity.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>               	

<div class="mh100 bg--secondary"></div>

            <section class="bg--secondary">
                <div class="container">
                	<h1 class="text-center">What you'll get</h1>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                        	<h2>As Pledger</h2>
                        	<ul>
                        		<li>Direct financial support from your backer</li>
                        		<li>Private posting channel to your backer</li>
                        		<li>Create Public post</li>
                        		<li>Monthly transparant report of your earning</li>
                        	</ul>
                        </div>

                        <div class="col-lg-6 col-md-6">
                        	<h2>As Backer</h2>
                        	<ul>
                        		<li>Ability to give direct support to the things you care</li>
                        		<li>Exclusive content/report for backer</li>
                        		<li>Access to backer only forum</li>
                        		<li></li>
                        	</ul>                        	
                        </div>
                    </div>
                </div>
            </section>	

<div class="mh100 bg--secondary"></div>

<%= render(BackerWeb.LayoutView, "footer.html") %>

    <!-- Scripts
    ================================================= -->
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.appear.min.js"></script>
		<script src="js/jquery.incremental-counter.js"></script>
    <script src="/js/script.js"></script>
	</body>
</html>
